html , body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 900px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.el-breadcrumb {
  margin-bottom: 10px;
  font-size: 12px;

}
.el-card {
  box-sizing: 0 1px 1px rgba(0,0,0,0.15) !important;
}
.el-table {
  margin-top: 15px;
  font-size: 12px;
  
}
.optionButton {
 
  padding: 3px 10px;
  border: none;
  margin: 0 5px;
  color: #fff;
  border-radius: 3px;
  
}
.el-pagination {
  margin-top: 10px;
}